<div class="navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png" alt="">
        <h4 class="name">Admin</h4>
        <p class="mail">Admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
        <button mat-button class="menu-button">
            <mat-icon>dashboard</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>pages</mat-icon>
            <span>Pages</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>message</mat-icon>
            <span>Message</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>comments</mat-icon>
            <span>Comments</span>
        </button>
        
        </div>
    </div>
 
</div>