
<mat-toolbar color="primary">
    <mat-toolbar-row>

        <button mat-button (click)="opened =!opened"><mat-icon>menu</mat-icon></button>
        <button mat-button><mat-icon>home</mat-icon></button>
        <div class="container" >
            <div class="row pt-1 ">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-primary" type="submit" value="Submit" (click)="redirectToForm()">Add New User</button>
                </div>
            </div>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">

        <mat-nav-list>
            <!-- <div *ngIf="menuType==='default'" class="nav-search">
                <input type="text" placeholder="search products"><button>Search</button>
            </div> -->

            <div [ngSwitch]="menuType">
                <ul *ngSwitchCase="'default'">
                    
                    <a mat-list-item routerLink="login"> <mat-icon>login</mat-icon>Login</a>
                    <a mat-list-item routerLink="db"> <mat-icon>dashboard</mat-icon>Dashboard</a>
                    <a mat-list-item><mat-icon>contacts</mat-icon>Contact</a>
                    <a mat-list-item><mat-icon>settings</mat-icon>Settings</a>
                </ul>

                <ul *ngSwitchCase="'login'">
                    <a mat-list-item>About</a>
                    <a mat-list-item routerLink="/login">Login</a>
                
                </ul>

                <ul *ngSwitchCase="'admin'">
                    <a mat-list-item>About</a>
                    <a mat-list-item>Admin Dashboard</a>
                    <a mat-list-item routerLink="/db">Dashboard</a>
                </ul>

                <ul *ngSwitchCase="'customer'">
                    <a mat-list-item>About</a>
                    <a mat-list-item routerLink="/cart">No. of customers</a>
                    <a mat-list-item>Buyer</a>
                </ul>

                <ul *ngSwitchCase="'seller'">
        
                    <a mat-list-item routerLink="/product">Product Details</a>
                    <a mat-list-item routerLink="/cart">Add to Cart</a>
                    <a mat-list-item>Help</a>
                </ul>

            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
