

<!-- <div class="container">
    <div class="row pt-4 ">
        <div class="col-6">
            <h4>Dashboard </h4>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-success" (click)="redirectToForm()">Add new User</button>
        </div>
    </div>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-button (click)="opened =!opened"><mat-icon>menu</mat-icon></button>
       <button mat-button><mat-icon>home</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
     <mat-sidenav [(opened)]="opened" mode="side">
        
      <mat-nav-list>
        <a mat-list-item>About</a> 
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/signup">Signup</a>
        <a mat-list-item routerLink="/db">Dashboard</a>
      <a mat-list-item>Contact</a>
      </mat-nav-list>
    </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
    
      </mat-sidenav-content>
    
  </mat-sidenav-container>
  


 

