<!-- <div class="container">
    <form [formGroup]="userForm" (submit)="onSaveUser()" >
        <div class="row">
            <div class="col-4">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="name" >
                <div class="text-danger" *ngIf="userForm.controls?.['name'].touched">  
                    <span *ngIf="userForm.controls?.['name'].errors?.['required']"> This Is Required</span>
                    <span *ngIf="userForm.controls?.['name'].errors?.['minlength']"> MIn Char Required</span>
                </div>
            </div>
        
        <div class="row">
            <div class="col-4">
                <label for="">User Name</label>
                <input type="text" class="form-control" formControlName="username" >
            </div>
            <div class="col-4">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email" >
            </div>
           
        </div>
        <div class="col-4">
            <label for="">password</label>
            <input type="text" class="form-control" formControlName="password" >
        </div>
        <div class="row">
            <div class="col-6">
                <button  class="btn btn-success" (click)="onSaveUser()"> Save User</button>
            </div>
        </div>
    </form>
</div> -->

Seller works

