
<nav class="nav">
  <h3>{{sellerName | titlecase}}</h3>
  <!-- <div class="nav-search">
    <input type="text" placeholder="search"><button>Search</button>
  </div> -->
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li> <a href="#">Add Product</a> </li>
      <li> <a href="#">List</a> </li>
      <li> <a (click)="logout()">Logout</a> </li>
     
    </ul>
    <ul *ngSwitchCase="'seller'">

      <!-- <li> <a href="#">Add Product</a> </li>
      <li> <a href="#">List</a> </li>
      <li> <a href="#">Seller </a> </li> -->

    </ul>
  </div>
</nav>






    
      <!-- <mat-sidenav-container class="container">
        
        <mat-sidenav #sidebar mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content">
                <div class="toolbar">
                    <mat-toolbar>
                        <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                        <div class="box">
                            <mat-icon>search</mat-icon>
                            <mat-icon>bookmark_border</mat-icon>
                            <mat-icon>mail_outline</mat-icon>
                            <mat-icon>add</mat-icon>

                            <h2>{{sellerName | titlecase}}</h2>
    
                        </div>
                    </mat-toolbar>
                </div>
                <div class="main">
                    
                </div>
            </div>
        </mat-sidenav-content>
    
    </mat-sidenav-container> -->